global !p
def upperFirst(text):
    if len(text) > 1:
        return text[0].upper() + text[1:]
    elif len(text) == 1:
        return text.upper()
    else:
        return text;
endglobal

snippet emccopy "EMC Copyright"
// Copyright `date +%Y` Dell Inc. or its subsidiaries. All Rights Reserved.
endsnippet

snippet di "RackHD DI"
di.annotate(${1:factoryFunction}, new di.Provide('${2:injectableName}');
di.annotate($1, new di.Inject(
	'Logger',
	'_',
	'Promise'
));
endsnippet
