snippet taskdef "RackHD task definition"
// Copyright `date +%Y` Dell Inc. or its subsidiaries. All Rights Reserved.

'use strict';

module.exports = {
	friendlyName: '${1:friendlyName}',
	injectableName: 'Task.${2:taskInjectableName}',
	implementsTask: 'Task.Base.${3:baseTaskName}',
	schemaRef: '${4:schemaReference}',
	options: {$0},
	properties: {}
};
endsnippet
